
	<div class="game-view" data-area="game" data-click="close-spin-setter">
		<div class="hud">
			<div class="head">
				<div class="menu" data-click="game-toggle-pause">
					<i class="icon-menu"></i>
				</div>
			</div>

			<div class="player left thinking1">
				<span class="name" data-name="Ali">
					<span class="border"></span>
					<svg class="outline" viewBox="0 0 73 73">
						<rect x="0" y="0" width="73" height="73" rx="6"/>
					</svg>
				</span>
				<ul class="ball-slots">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="pot"></div>

			<div class="player right">
				<span class="name" data-name="Yasmin">
					<span class="border"></span>
					<svg class="outline" viewBox="0 0 73 73">
						<rect x="0" y="0" width="73" height="73" rx="6"/>
					</svg>
				</span>
				<ul class="ball-slots">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="spin-setter disabled" data-click="open-spin-setter">
				<span class="dot"></span>
			</div>
		</div>
		<div class="game-cvs"></div>
		<!-- spin setter -->
		<div class="spin-setter big">
			<span class="dot"></span>
		</div>
	</div>
