
<div class="settings-view" data-area="settings">
	<span class="button-close" data-click="close-settings"></span>
	<h2 data-head="Settings"></h2>
	<div class="settings-list">
		<div class="row">
			<i class="icon-sound-fx"></i>
			<div class="name">Sound Effects</div>
			<div class="control">
				<div class="track" data-value="80">
					<div class="covered">
						<div class="handle"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<i class="icon-music"></i>
			<div class="name">Music</div>
			<div class="control">
				<div class="track" data-value="60">
					<div class="covered">
						<div class="handle"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<i class="icon-aim"></i>
			<div class="name">Aim Assist</div>
			<div class="control">
				<div class="toggler">
					<div class="handle"></div>
				</div>
			</div>
		</div>
		<div class="divider"></div>
		<div class="row">
			<i class="icon-8-ball"></i>
			<div class="name">AI difficulty</div>
			<div class="control">
				<div class="toggler" data-value="on">
					<div class="handle"></div>
				</div>
			</div>
		</div>

		<div class="btn-row">
			<div class="button red" data-click="quit-game">Quit Game</div>
		</div>
	</div>
</div>
