	<div class="start-view" data-area="start">
		<div class="logo">
			<svg><use xlink:href="#logo-billiads"></use></svg>
		</div>
		
		<h3>Opponents</h3>
		<ul class="opponents" data-click="select-opponent">
			<li>
				<div class="player">
					<div class="photo" data-name="Yasmin"></div>
				</div>
				<span class="quote">If you got money, I got time honey</span>
			</li>
			<li>
				<div class="player">
					<div class="photo" data-name="Sean"></div>
				</div>
				<span class="quote">This is my house</span>
			</li>
			<li>
				<div class="player">
					<div class="photo" data-name="Ann"></div>
				</div>
				<span class="quote">I will buy new shoes with your money</span>
			</li>
			<li>
				<div class="player">
					<div class="photo" data-name="Denise"></div>
				</div>
				<span class="quote">Save your time - hand over your wallet now</span>
			</li>
			<li>
				<div class="player">
					<div class="photo" data-name="Adam"></div>
				</div>
				<span class="quote">Welcome to the master class, grasshopper</span>
			</li>
			<li>
				<div class="player">
					<div class="photo" data-name="Ali"></div>
				</div>
				<span class="quote">Go hard or go home</span>
			</li>
		</ul>

		<div class="button red" data-click="open-help">How to play</div>
		<div class="button" data-click="show-dialog" data-arg="settings">Settings</div>
	</div>
