<content>
	<div class="game-view">
		<div class="hud">
			<div class="player left thinking1">
				<span class="name" data-name="Sean">
					<svg class="outline" viewBox="0 0 73 73">
						<rect x="0" y="0" width="73" height="73" rx="6"/>
					</svg>
				</span>
				<ul class="ball-slots">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="pot"></div>

			<div class="player right">
				<span class="name" data-name="Yasmin">
					<svg class="outline" viewBox="0 0 73 73">
						<rect x="0" y="0" width="73" height="73" rx="6"/>
					</svg>
				</span>
				<ul class="ball-slots">
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="game-cvs"></div>
	</div>
</content>
