
background: transparent;
overflow: visible;

@import "start";
@import "game";

content {
	background: #111;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;

	&[data-show="start"] {
		.start-view {
			display: block;
		}
	}

	&[data-show="game"] {
		.game-view {
			display: block;
		}
	}

	i[class*="icon-"],
	i[class^="icon-"] {
		position: relative;
		pointer-events: none;
		display: inline-block;
		vertical-align: middle;
		width: 21px;
		height: 21px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		// background-color: rgba(#000,.1);

		&.icon-menu { background-image: url(~/icons/icon-menu.png); }
	}
	
	.button {
		position: relative;
		padding: 7px 0 0 0;
		margin: 0 7px 7px 0;
		width: 90px;
		height: 29px;
		display: inline-block;
		border-radius: 4px;
		vertical-align: top;
		white-space: nowrap;
		text-align: center;
		font-size: 17px;
		cursor: pointer;
		text-shadow: 0 1px 1px rgba(#000,.25);
		background: radial-gradient(circle at bottom center, #8585857a, transparent 90%),
					linear-gradient(180deg, #555864, #333441 50%, #1b1d2a 50%, #1b1c2a);
		box-shadow: 0 0 0 1px rgba(#000,.25),
					inset 0 1px 0 rgba(#fff,.2),
					inset 0 -1px 0 rgba(#000,.1),
					0 1px 1px rgba(#000,.2);

		&:hover {
			background: radial-gradient(circle at bottom center, #8585859a, transparent 90%),
						linear-gradient(180deg, #555864, #333441 50%, #1b1d2a 50%, #1b1c2a);
		}

		&.red {
			background: radial-gradient(circle at bottom center, #ff87878e, transparent 90%),
						linear-gradient(180deg, #d5747a, #cf5f69 50%, #c6202c 50%, #c1212e);

			&:hover {
				background: radial-gradient(circle at bottom center, #ff8787ae, transparent 90%),
							linear-gradient(180deg, #d5747a, #cf5f69 50%, #c6202c 50%, #c1212e);
			}
		}

		&.gray {
			// width: 45px;
			// height: 27px;
			background: radial-gradient(circle at bottom center, #dddddd80, transparent 90%),
						linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);

			&:not(.disabled):hover {
				background: radial-gradient(circle at bottom center, #dddddda0, transparent 90%),
							linear-gradient(180deg, #878995, #606270 50%, #474857 50%, #545563);
			}

			&.disabled {
				cursor: default;
				color: rgba(#111,.5);
				text-shadow: 0 1px 0 #929292;
			}
		}

		&.green {
			background: radial-gradient(circle at bottom center, #aecaff77, transparent 90%),
						linear-gradient(180deg, #70ba71, #3cab3b 50%, #229a14 50%, #249f15);

			&:hover {
				background: radial-gradient(circle at bottom center, #aecaff97, transparent 90%),
							linear-gradient(180deg, #70ba71, #3cab3b 50%, #249f15 50%, #249f15);
			}
		}

		&.blue {
			background: radial-gradient(circle at bottom center, #aeffc260, transparent 90%),
						linear-gradient(180deg, #83a3e9, #5f86e5 50%, #4472e0 50%, #4973d2);

			&:hover {
				background: radial-gradient(circle at bottom center, #aeffc280, transparent 90%),
							linear-gradient(180deg, #83a3e9, #5f86e5 50%, #4472e0 50%, #4973d2);
			}
		}

		&:hover:active {
			padding-top: 8px;
			padding-bottom: 3px;
			background-position: 0 1px;
			box-shadow: 0 0 0 1px rgba(#000,.25),
						inset 0 1px 0 rgba(#fff,.01),
						0 1px 1px rgba(#000,.2);
		}

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 3px;
			right: 3px;
			height: 1px;
			bottom: -2px;
			background: linear-gradient(90deg, transparent, rgba(#fff,.3), transparent);
		}

		&:after {
			top: 0;
			bottom: auto;
		}
	}
}


@keyframes animOutline {
	0%   { stroke-dashoffset: var( --outline ); }
	100% { stroke-dashoffset: 0; }
}
